Project\ Specifications\ and\ Risk\ Assessment/project-specifications.aux
Project\ Specifications\ and\ Risk\ Assessment/project-specifications.log
Project\ Specifications\ and\ Risk\ Assessment/project-specifications.out
Project\ Specifications\ and\ Risk\ Assessment/project-specifications.synctex.gz
